# ----
# Site

title: PostgresCompare
url: "https://www.postgrescompare.com"
google_analytics_key: UA-43432786-3
disqus_shortname: https-www-postgrescompare-com

# Values for the jekyll-seo-tag gem (https://github.com/jekyll/jekyll-seo-tag)
logo: https://www.postgrescompare.com/images/1469427963_009_053_animal_elephant_bishop_mammal.png
image: /images/postgrescomparescreenshot.png
description: PostgresCompare compares PostgreSQL database schema objects and writes the SQL to deploy the differences. An accurate and easy to use diff tool for Postgres.
author:
  name: PostgresCompare
  email: neil@postgrescompare.com
  twitter: postgrescompare # twitter username without the @ symbol
social:
  name: PostgresCompare
  links:
    - https://www.facebook.com/postgrescompare
    - https://www.twitter.com/postgrescompare
    - https://www.linkedin.com/company/postgres-compare
    - https://www.google.com/+PostgresCompare
    - https://github.com/PostgresCompare

# -----
# Build

timezone: Etc/UTC

collections:
  staff_members:
    _hide_content: true
  docs:
    output: true
    permalink: /:collection/:path/

paginate: 10
paginate_path: "/blog/:num/"
# permalink: pretty

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      _options:
        content:
          width: 1500
          height: 2500
  -
    scope:
      path: ""
      type: "staff_members"
    values:
      _options:
        image_path:
          width: 600
          height: 600
  -
    scope:
      path: ""
      type: "docs"
    values:
      layout: "docs"
  -
    scope:
      path: ""
    values:
      layout: "page"
  -
    scope:
      path: "index.html"
    values:
      layout: "default"
  -
    scope:
      path: "contact.html"
    values:
      full_width: true
  # Exclude from sitemap - utility pages
  -
    scope:
      path: "pg_catalog"
    values:
      sitemap: false
  -
    scope:
      path: "googlea1e2dd3fa6ff7786.html"
    values:
      sitemap: false
  -
    scope:
      path: "download_ready.md"
    values:
      sitemap: false
  -
    scope:
      path: "success.html"
    values:
      sitemap: false
  -
    scope:
      path: "thanks.html"
    values:
      sitemap: false
  -
    scope:
      path: "blog"
    values:
      sitemap: false

jekyll-archives:
  enabled:
    - categories

plugins:
  - jekyll-archives
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-paginate

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENCE
  - nul

# -----------
# CloudCannon

social_icons:
  - Facebook
  - Google Plus
  - Instagram
  - LinkedIn
  - Pinterest
  - Tumblr
  - Twitter
  - YouTube
  - RSS

_comments:
  map: Update the map location and display settings.
  latitude: Coordinates for the center marker on the map.
  longitude: Coordinates for the center marker on the map.
  zoom: The zoom level for the map.
  pricing_table: Update the information in the pricing tables.
  highlight: Emphasis the text
  color: The background colour used in the plan name and call to action.
  new_window: Open link in new window
